:root {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f1235;
  background: #f4f4f4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
}

p, h2 {
  margin: 0;
}
